body {
  height: 100vh;
}
.header-logo {
  position: absolute;
  left: 25px;
}

.text-logo {
  color: #ffa000;
  font-family: fantasy;
  font-size: 2rem;
  vertical-align: middle;
}

.general-button-container {
  width: 10%;
}

.general-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-button-img {
  width: 20px;
}

.actions-button {
  width: 20px;
}

.type-icon {
  width: 30px;
}
.th-width {
  max-width: 200px;
}

.tree-max {
  max-width: 300px;
  overflow: hidden;
  
}
